<ion-view view-title="{{restaurant.name}}">
  <ion-content class="padding">
  <div align="center">
    <img ng-src="{{restaurant.icon}}" align="middle" style="width: 64px; height: 64px">
    <p> <b> {{restaurant.name}}</b> </p> </b>
    <p> {{restaurant.formatted_address}} </p>
    <p> <a href="tel:{{restaurant.international_phone_number}}">{{restaurant.international_phone_number}}</a> </p>
  </div>
  <div class="card">
      <div class="item item-text-wrap">
          <div class="button-bar">
              <a class="button" ng-click="openModal()">View Pictures</a>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="item item-text-wrap">
          <div class="button-bar">
              <a class="button" href="/templates/mymap.html">View Directions</a>
          </div>
      </div>
  </div>
<ion-content ng-controller="MapController">
    <div id="map" data-tap-disabled="true"></div>
</ion-content>
  <script id="image-modal.html" type="text/ng-template">
      <div class="modal image-modal transparent" ng-click="closeModal()">
        <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
          <ion-slide ng-repeat="photo in photos">
            <img ng-src="{{photo.src}}" class="fullscreen-image" />
            <p class="info">{{photo.msg}}</p>
          </ion-slide>
        </ion-slide-box>
      </div>
  </script>
    <!-- <b>Prior checkins and pictures of Slalomites will show up here</b> -->
  </ion-content>
</ion-view>
